* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin-top: 0;
    margin-right: 85px;
    font-size: 2rem;

}
    

body {
    height: 100vh;
    background-color: rgb(214, 210, 210);
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
    margin-top: 6px;

}

.task-item i {
    background-color: blueviolet;
    color: rgb(245, 246, 248);
    padding: 12px;
    border-radius: 5px;
}
.task-item i:hover {
    cursor: pointer;
}


.container {
    border: 2px solid rgb(175, 247, 142);
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
}


.new-task-container {
    background-color: rgb(243, 239, 232);
    padding: 30px 20px;
    border-radius: 5px;
    box-shadow: 0 15px 30px black;
    display: flex;
}

.new-task-container input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 5px;
    padding: 12px;
    font-weight: 500;
}

.new-task-container input:focus{
    outline: none;
    color: rgb(43, 103, 233);
}
.new-task-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    font-size: 1rem;
    border: none;
    background-color: blueviolet;
    color: rgb(243, 245, 245);
    padding: 12px;
    margin-left: 20px;
    cursor: pointer;
}

.tasks-container {
    background-color:rgb(243, 239, 232);
    padding: 30px 20px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    width: 100%;
}
.error{
    border: 2px solid red!important;
    
}

.error::placeholder{
    color: red;
}

.completed {
    text-decoration: line-through;
}